<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Quizer</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLinkActive="active" routerLink="/home">Home</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/userProfile" href="#">
        <i class="fa fa-user-circle"></i>
      </a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/login">
        <i class="fa fa-sign-in"></i>
      </a>
      <a class="nav-item nav-link" href="https://vk.com/borsch_aleksey" target="_blank">
        <i class="fa fa-dollar"></i>
      </a>
    </div>
  </div>
</nav>
